<div class="footer">
  <div class="footer__container">
    <span class="footer__item"
      >© 2022 <br />
      All rights reserved
    </span>
    <div class="footer__locations">
      <span class="footer__item">Copenhagen</span>
      <span class="footer__item">Aarhus</span>
      <span class="footer__item">Odense</span>
    </div>
    <div class="footer__information">
      <a href="#" class="footer__item">hello@zupa.dk</a>
      <a href="#" class="footer__item">+45 55 51 23</a>
    </div>
  </div>
</div>
