<div class="main-content-wrapper">
  <section class="section">
    <div class="heading">
      <h1 class="heading__title">
        The chance of you <u>not</u> knowing OK is now less than 5%
      </h1>
      <span class="heading__subtitle"
        >Supporting local sports clubs have led to a +95% brand recognition for
        OK. We’ve been part of the journey from day one.</span
      >
    </div>
  </section>
</div>
<div class="default-wrapper">
  <section class="information">
    <span class="information__subtitle">Branding / Campaign</span>
    <span class="information__title">OK</span>
  </section>

  <section class="section overview">
    <div class="main-content-wrapper">
      <img
        class="overview__image"
        src="assets/images/man-in-the-office.jpg"
        alt="Man in the office"
      />
      <h3 class="overview__main-info">
        For more than a decade, energy company OK has celebrated the unsung
        heroes of local sports in their TV ads, building a strong brand position
        along the way.
      </h3>
      <p class="overview__text">
        The in-your-face comedy and likeable characters of the OK universe
        resonate broadly. Today, more than 95% of all Danes knows the brand, and
        OK is by far the most liked brand in in the “Energy” category, according
        to YouGov.
      </p>
    </div>
  </section>

  <section class="section single-image">
    <div class="main-content-wrapper">
      <img
        class="overview__overflow-image"
        src="assets/images/customer.jpg"
        alt="customer"
      />
    </div>
  </section>
</div>

<div class="main-content-wrapper">
  <section class="section">
    <p class="case-text">
      The in-your-face comedy and likeable characters of the OK universe
      resonate broadly. Today, more than 95% of all Danes knows the brand, and
      OK is by far the most liked brand in in the “Energy” category, according
      to YouGov.
    </p>
    <p class="case-text">
      The in-your-face comedy and likeable characters of the OK universe
      resonate broadly. Today, more than 95% of all Danes knows the brand, and
      OK is by far the most liked brand in in the “Energy” category, according
      to YouGov.
    </p>
  </section>

  <section class="section cases">
    <div class="cases__container">
      <div class="cases__row">
        <div class="cases__item">
          <img
            src="assets/images/bumper-1.jpg"
            class="case-pictures__item--image"
            alt="bumper-1"
          />
          <span class="case-pictures__item--text">Bumper 1</span>
        </div>

        <div class="cases__item right-down">
          <img
            src="assets/images/bumper-2.jpg"
            class="case-pictures__item--image"
            alt="bumper-2"
          />
          <span class="case-pictures__item--text">Bumper 2</span>
        </div>
      </div>
    </div>

    <div class="cases__container">
      <div class="cases__row">
        <div class="cases__item">
          <img
            src="assets/images/bumper-3.jpg"
            class="case-pictures__item--image"
            alt="bumper-3"
          />
          <span class="case-pictures__item--text">Bumper 3</span>
        </div>

        <div class="cases__item right-down">
          <img
            src="assets/images/bumper-4.jpg"
            class="case-pictures__item--image"
            alt="bumper-4"
          />
          <span class="case-pictures__item--text">Bumper 4</span>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <p class="case-text">
      Everyone is in the joke. Even former head coach of FC Copenhagen, Ståle
      Solbakken. In 2020, he starred in a Facebook teaser ad, which generated
      more than a million unique views and +1000 comments.
    </p>
  </section>
</div>

<section class="section bottom-image">
  <div class="bottom-image__container">
    <img src="assets/images/bottom-image.jpg" alt="Video picture" />
  </div>
</section>

<section class="section statistics">
  <div class="statistics__item">
    <span class="statistics__item--title">Views</span>
    <div class="statistics__item--entity">
      <span class="value">1,7</span><span class="text"> mio +</span>
    </div>
  </div>
  <div class="statistics__item">
    <span class="statistics__item--title">Unique views</span>
    <div class="statistics__item--entity">
      <span class="value">1</span><span class="text">mio +</span>
    </div>
  </div>
  <div class="statistics__item">
    <span class="statistics__item--title">Comments</span>
    <div class="statistics__item--entity">
      <span class="value">1000</span><span class="text">+</span>
    </div>
  </div>
  <div class="statistics__item">
    <span class="statistics__item--title">Brand knowledge</span>
    <div class="statistics__item--entity"><span class="value">95%</span></div>
  </div>
  <div class="statistics__item">
    <span class="statistics__item--title">YouGov Brand Index</span>
    <div class="statistics__item--entity reversed">
      <span class="value">1</span><span class="text">No.</span>
    </div>
  </div>
</section>

<section class="section last-block">
  <app-more-information-card
    [listItems]="['Mogens Kristensen, CEO', '+45 55 54 32 10', 'mk@zupa.dk']"
  >
    <app-case-item
      [background]="'#033152'"
      [isPreview]="true"
      [title]="'Why build when you can create?'"
      [subtitle]="'Silvan / Brand Platform'"
    ></app-case-item>
  </app-more-information-card>
</section>
