<div class="main-content-wrapper">
  <section class="section heading">
    <h1 class="heading__title">We make brands glow</h1>
    <div class="heading__content">
      <p class="heading__content--description">
        You recognize it when it is here. And when it is not. Often it is hard
        to tell what exactly it is. Yet it sometimes makes you laugh, cry,
        wonder. Or maybe even share, talk, discuss, dream or finally take
        action. We simply call it the Glow of a brand.
      </p>
      <br />
      <p class="heading__content--description">
        The essence of what sets a brand apart. What makes it attractive,
        famous, and lively. And ultimately that clarity translates into brand
        growth. It takes strategic rigor, creative curiosity, and
        multidisciplinary teams to bring to life. And that’s what we do.
      </p>
    </div>
  </section>
  <section class="section cases">
    <div class="cases__container">
      <div class="cases__row">
        <div class="cases__item left-up">
          <app-case-item
            [pathToImage]="'assets/images/boat.jpg'"
            [title]="'Mærsk Group'"
            [subtitle]="'Search strategy'"
          ></app-case-item>
        </div>
        <div class="cases__item right-down">
          <app-case-item
            [title]="'Why build when you can create?'"
            [subtitle]="'Silvan / Brand platform'"
          ></app-case-item>
        </div>
      </div>
    </div>

    <div class="cases__container">
      <div class="cases__row">
        <div class="cases__item left-up">
          <app-information-card
            [title]="'UX Designer ZUPA Copenhagen'"
            [subtitle]="'We are hiring'"
            [gradient]="{ firstColor: '#0058ff', secondColor: '#a78349' }"
          ></app-information-card>
        </div>
        <div class="cases__item right-down">
          <app-information-card
            [customTemplate]="true"
            [background]="'#01ffb6'"
          >
            <div class="information-card__container">
              <span class="information-card__main-letter">d</span>
              <span class="information-card__subtitle">is for diversity</span>
            </div>
          </app-information-card>
        </div>
      </div>
    </div>

    <div class="cases__container">
      <div class="cases__row">
        <div class="cases__item">
          <div></div>
        </div>

        <div class="cases__item right-down">
          <div class="case-information">
            <div class="case-information__title">
              LGTB+ Ungdom Meaningful loveletters
            </div>
            <div class="case-information__description">
              To celebrate diversity, we created an alphabet of love for LGBT+
              Ungdom. Each letter was assigned its own meaningful word to spark
              conversations across the gender spectrum.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cases__container extended">
      <div class="cases__row">
        <div class="cases__item left-up">
          <app-case-item
            [pathToImage]="'assets/images/robot.jpg'"
            [title]="'Superdæk Autoværksted'"
            [subtitle]="'Brand platform'"
          ></app-case-item>
        </div>

        <div class="cases__item right-down">
          <app-case-item
            [pathToImage]="'assets/images/cow.jpg'"
            [title]="'Friland Økologi'"
            [subtitle]="'Branding campaign'"
          ></app-case-item>
        </div>
      </div>
    </div>
  </section>

  <section class="section message">
    <span class="message__small-title">Lorem ipsum exlibris magna</span>
    <h2 class="message__main-title">
      Lorem ipsum dolor sit exlibris. Magna pisce. Fam chartreuse live edge
      brunch. Non banh mi.
    </h2>
  </section>

  <section class="section cases">
    <div class="cases__container">
      <div class="cases__row">
        <div class="cases__item">
          <app-case-item
            [pathToImage]="'assets/images/salling-roof-top.jpg'"
            [title]="'Salling Roof Top'"
            [subtitle]="'Concept & Design'"
          ></app-case-item>
        </div>

        <div class="cases__item right-down">
          <app-case-item
            [pathToImage]="'assets/images/pizza.jpg'"
            [title]="'Passion for Pizza'"
            [subtitle]="'Arla Pro / Campaign'"
          ></app-case-item>
        </div>
      </div>
    </div>
  </section>

  <app-divider></app-divider>

  <section class="section article-information">
    <div class="article-information__container">
      <span class="article-information__small-title"
        >Lorem ipsum exlibris magna</span
      >
      <h3 class="article-information__title">
        Exlibris magna lix est consectetur hammock quality celcius
      </h3>
      <div class="article-information__description">
        <p>
          Viral normcore roof party kinfolk banjo skateboard salvia gentrify
          deep v affogato vice beard stumptown retro aesthetic. Pitchfork
          selvage artisan, organic lyft single-origin coffee tattooed affogato
          echo park. Four dollar toast cold-pressed pitchfork craft beer pok pok
          tote bag tattooed raclette single-origin coffee hexagon. Meditation
          hot chicken raw denim, pour-over drinking vinegar
        </p>
        <p>
          typewriter mustache taiyaki. Irony kombucha glossier, bushwick
          authentic everyday carry fixie chillwave vexillologist enamel pin
          tilde hot chicken green juice four dollar toast yuccie. Man braid
          slow-carb cloud bread, mixtape master cleanse swag biodiesel
          asymmetrical air plant copper mug chicharrones af bicycle rights
          macaroni exlit litterature paperbag stuff holiday swipe pool […]
        </p>
      </div>
      <button class="article-information__button">
        <img
          class="article-information__button--image"
          src="assets/images/read-article-image.jpg"
          alt="Article image"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
        >
          <path
            id="Icon_ionic-md-arrow-forward"
            data-name="Icon ionic-md-arrow-forward"
            d="M5.977,14.977h12.15l-5.6,5.6,1.45,1.4,8-8-8-8-1.4,1.4,5.55,5.6H5.977Z"
            transform="translate(-5.977 -5.977)"
            fill="#0a0600"
          />
        </svg>
        <span class="article-information__button--text">Read the article</span>
      </button>
    </div>
  </section>

  <section class="section cases">
    <div class="cases__container">
      <div class="cases__row">
        <div class="cases__item right-down">
          <app-case-item
            [pathToImage]="'assets/images/customer.jpg'"
            [title]="'OK'"
            [subtitle]="'Branding / Campaign'"
          ></app-case-item>
        </div>

        <div class="cases__item left-up">
          <app-case-item
            [pathToImage]="'assets/images/room.jpg'"
            [title]="'The JYSK Apartment'"
            [subtitle]="'Campaign'"
          ></app-case-item>
        </div>
      </div>
    </div>

    <div class="cases__container">
      <div class="cases__row">
        <div class="cases__item right-down">
          <img
            class="cases__image"
            src="assets/images/Oles%20gård%20case.jpg"
            alt="Oles gard case"
          />
          <div class="case-information">
            <div class="case-information__title">Oles Gård Identity</div>
            <div class="case-information__description">
              Gentrify typewriter hammock thundercats snackwave asymmetrical
              sustainable pork belly poutine street art chia kinfolk. Try-hard
              meditation synth green juice live-edge kale.
            </div>
          </div>
        </div>

        <div class="cases__item left-up">
          <app-case-item
            [pathToImage]="'assets/images/headphones.jpg'"
            [title]="'Invisio®'"
            [subtitle]="'Website / UI Design'"
          ></app-case-item>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="section last-block">
  <app-more-information-card
    [listItems]="['Mogens Kristensen, CEO', '+45 55 54 32 10', 'mk@zupa.dk']"
  >
    <app-case-item
      [gradient]="{ firstColor: '#0058ff', secondColor: '#a78349' }"
      [pathToImage]="'assets/images/article-preview.jpg'"
      [isPreview]="true"
      [title]="'Check out our work magna exlibris lorem ipsum'"
      [subtitle]="'Services'"
    ></app-case-item>
  </app-more-information-card>
</section>
