@mixin main-container {
  margin: 0 auto;
  width: 100%;
  padding: 0 $gutter-mobile;

  @media screen and (min-width: $desktop-breakpoint) {
    max-width: rem($desktop-container-width);
    padding: 0 $gutter-desktop;
  }
}
