$site-background: #2b2b2b;
$default-background: #1a1a1b;
$imdb-rating: #e3ac3c;
$blue: #81becb;

$base-font: 16;
$font-family: "Roboto", sans-serif;

$desktop-breakpoint: 768px;
$desktop-container-width: 1800;

$mobile-container-width: 280;

$gutter-desktop: 60px;
$gutter-mobile: 15px;
