$base-font-size: 16;
$font-primary: "degular", sans-serif;

$silver: #d1d0d8;
$site-background-color: #f6f6f4;

$desktop-breakpoint: 768px;
$desktop-container-width: 1800;
$desktop-main-content-wrapper-width: 1320;

$gutter-desktop: 40px;
$gutter-main-content-wrapper-desktop: 80px;
$gutter-mobile: 15px;
$gutter-footer: 250px;

$desktop-blocks-padding: 100px;
$mobile-blocks-padding: 30px;
$mobile-menu-height: 50px;

$case-min-height-mobile: 500px;
$case-min-height-desktop: 770px;
$case-text-width: 830px;

$borders-opacity: 0.3;

$cases-gutter: 100px;
$cases-gutter-extended: 260px;

$information-card-max-width-desktop: 350px;
$information-card-min-height: 620px;

$article-title-max-width: 1000px;
