<a
  [ngStyle]="{ background: backgroundColor }"
  routerLink="/case"
  [class.preview]="isPreview"
  class="case"
>
  <div class="case__container">
    <span
      [ngStyle]="{ 'background-image': 'url(' + pathToImage + ')' }"
      class="case__image"
    ></span>
  </div>

  <div class="case__content">
    <span *ngIf="subtitle" class="case__content--subtitle">
      {{ subtitle }}</span
    >
    <div class="case__title-wrapper">
      <h3 class="case__title-wrapper--title" *ngIf="title">{{ title }}</h3>
      <span class="case__content--button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
        >
          <path
            id="Icon_ionic-md-arrow-forward"
            data-name="Icon ionic-md-arrow-forward"
            d="M5.977,14.977h12.15l-5.6,5.6,1.45,1.4,8-8-8-8-1.4,1.4,5.55,5.6H5.977Z"
            transform="translate(-5.977 -5.977)"
            fill="#0a0600"
          />
        </svg>
      </span>
    </div>
  </div>
</a>
